{% extends 'navbar.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="hlmn-satu">
        <div class="nama">
            <div class="kotak"></div>
            <div class="title-name">
                <h1>Muhammad Rafif Elfazri</h1>
                <h2>Biografi Profesional</h2>
            </div>
        </div>
        
    </div>
{% endblock %}

    
    

