
{% extends 'navbar.html' %}
{% load static from staticfiles %}
{% block content %}
    <div id= "pengalaman" class="hlmn-empat">
        <div class="title-all-hlmn">
                <h1>Pengalaman</h1>
        </div>
        <div class="kotak-hobi">
            <div class="icon-skill">
                <img src="{% static 'Logistic.svg' %}" alt="" class="icon ">
                <h6 class="icon-name">TOSKA UI<br>Logistic Staff (2019)</h6>
            </div>
            <div class="icon-skill">
                <img src="{% static 'SEA.svg' %}" class="icon">
                <h6 class="icon-name">Compfest Sofware Engineering<br>Academy Participant</h6>

            </div>
        </div>
        <div class="title-all-hlmn">
                <h1>Skill</h1>
        </div>
        <div class="kotak-hobi">
                <div class="icon-skill">
                    <img src="{% static 'Java.svg' %}" alt="" class="icon">
                    <h6 class="icon-name">Java</h6>
                </div>
                <div class="icon-skill">
                    <img src="{% static 'python.svg' %}" alt="" class="icon">
                    <h6 class="icon-name">Python</h6>
                </div>
                <div class ="icon-skill">
                    <img src="{% static 'JavaScript.svg' %}" alt="" class="icon">
                    <h6 class="icon-name">JavaScript</h6>
                </div> 
        </div>
    </div>
{% endblock %}