
 {% extends 'navbar.html' %}
 {% load static from staticfiles %}
 {% block content %}   
    <div class = "hlmn-under">
        <div class="kotak-under">
            <h1 class>Under Construction</h1>
            <img class="photo-const" src="{% static 'myPhoto.png' %}" alt="DUarrr">
            <h1>Enjoy My Photo For Now!!!!</h1>
        </div> 
    </div>
{% endblock %}